@import 'styles/base.css';
@import 'styles/button.css';
@import 'styles/modal.css';
@import 'styles/playerList.css';
@import 'styles/gameHeader.css';

#gameScore {
  display: none;
  max-width: 280px;
  margin: 0 auto;
}

#newPlayerInput {
  background: #FFFFFF;
}

#newPlayerInput {
  text-transform: capitalize;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.startGame-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}